version: '3.8'

services:
  queue:
    image: redis:7.4.1
    restart: always
    ports:
      - '6379:6379'

  minio:
    image: minio/minio:RELEASE.2024-12-18T13-15-44Z
    restart: always
    ports:
      - '9000:9000'
      - '9001:9001'
    volumes:
      - 'minio_data:/data/minio'
    environment:
      MINIO_ROOT_USER: adminfessior
      MINIO_ROOT_PASSWORD: adminfessior
      MINIO_ACCESS_KEY: adminfessior
      MINIO_SECRET_KEY: adminfessior
    command: server --console-address ":9001" /data/minio
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9000/minio/health/live']
      interval: 5s
      timeout: 3s
      retries: 10

  minio-init:
    image: minio/mc:RELEASE.2025-02-08T19-14-21Z
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c '
        mc alias set local http://minio:9000 adminfessior adminfessior;
        mc mb local/private-user-attachments;
        mc mb local/public-user-attachments;

        mc anonymous set download local/public-user-attachments;